<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>JaiKisaanDeployable</servlet-name>
		<servlet-class>mp.jaikisaan.JaiKisaanDeployableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JaiKisaanDeployable</servlet-name>
		<url-pattern>/jaikisaandeployable</url-pattern>
	</servlet-mapping>
	
	<session-config>
	    <session-timeout>600</session-timeout>
	</session-config>
	<servlet>
	    <servlet-name>ServletDataEntryHandler</servlet-name>
	    <servlet-class>major.jaikisaan.services.ServletDataEntryHandler</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletDataEntryHandler</servlet-name>
	    <url-pattern>/servletdataentryhandler</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>ServletJKReg</servlet-name>
	    <servlet-class>major.jaikisaan.services.ServletJKReg</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletJKReg</servlet-name>
	    <url-pattern>/servletjkreg</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>ServletLogin</servlet-name>
	    <servlet-class>major.jaikisaan.services.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletLogin</servlet-name>
	    <url-pattern>/servletlogin</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Welcome File Lists -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
